@charset "utf-8";
/* CSS Document */
.body
{
	width: 100%;
	height: 100%;
	float: left;
	padding: 0;
	margin: 0;
	background-image: URL("images/back.png");
        background-repeat: repeat-x;
}

.tablebig{
	width: 100%;
	height: 100%;
	float: left;
	margin-left: 0;
	vertical-align: top;
}
.tab2{
	width: 167px;
	height: 60px;
	padding-left: 0px;
	margin: 0px;
	
}
tr{
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}
.banner
{
    width:auto;
    height:auto;
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contlogobot
{
    width: 100%;
    height: 30px;
    float:none;
}
.apresenta
{
    float: none;
    height: auto;
    width: 150;
    padding-left: 10px;
    padding-top: 1px;
    margin: 0px;
}
.contmenu
{
    width: 12%;
    float: left;
    margin-top: 0px;
    padding-top: 8px;
    height: 43px;
}
.contlatesq
{
    background-image: url('images/esquerdo.png');
    background-repeat: no-repeat;
    width: 328px;
    float: left;
    margin-top: 0px;
    height: 824px;
}
.contlatdir
{
    background-image: URL("images/direito.png");
    background-repeat: no-repeat;
    width: 328px;
    float: left;
    margin-top: 0px;
    height: 824px;
}
.contlogo
{
    width: 21%;
    height: 52px;
    float: left;
    padding: 0px;
    margin: 0px;
    background-color: #000;
    border: 0px none;
}
.contgub
{
    width: 250px;
    height: 28px;
    float: left;
    padding-top: 26px;
	padding-right: 10px;
    margin: 0px;
    background-color: #000;
	margin-right: 10px;
}
.contitem
{
    width:100%;
    height:80px;
    float:left;
    padding-top: 20px;
    margin: 0;
	
}
.conttablet
{
    width:100%;
    height:80px;
    float:left;
    padding-top: 20px;
    margin: 0;
	
}
.contstart
{
    width: 375px;
	
    height: 444px; 
    background-repeat:no-repeat;
    background-image:url(images/start.png);
    float:left;
}
.contlabel
{
    width:120px;
    height:10px;
    float:left;
}
.contlabelentrada
{
	width:120px;
	height:30px;
	float:left;
}
.contline
{
	width:150px;
	height:239px;
	float: none;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 20px;
}
.contlinelabel
{
	width:150px;
 	float: none;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 20px;
    height: 30px;
}
.contimg
{
    width: 388px;
    height: 85px;
    float: left;
}
.contmsg
{
    float: left;
	height: auto;
	margin-bottom: 10px;
	padding-bottom: 5px;
	
	padding-top: 5px;
	width: 353px;
}
.contexplica
{
    float: left;
    height: 444px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 5px;
    width: 353px;
}
.label
{
    font:Arial bold 1em;
    color:#030;
	width: 100%;
	padding-top: 5px;
}
 
 .texto {
    font-family: Arial;
    font-size: 0.5em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    width: auto;
    height:auto;
    padding-left: 8px;
    padding-top: 5px;
    float:none;
    color: #000;
}
.textoexplica {
    font-family: Arial;
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    width: auto;
    height: auto;
    padding-top: 5px;
    float: none;
    color: #595959;
}
.textobold {
    font-family: Arial;
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    width: auto;
    height: auto;
    padding-top: 5px;
    float: left;
    color: #3D3D3D;
    padding-left: 77px;
}
.textoitem {
    font-family: Arial;
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    width: auto;
    height: auto;
    padding-top: 2px;
    padding-left: 77px;
    float: right;
    color: #595959;
}
.bola{
    background-image: url('images/bola.png');
    background-repeat: no-repeat;
    width: 101%;
    height: 106px;
}
.lab01 {
	font-family: Arial;
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	width: 450px;
	height: auto;
	padding-left: 0px;
	padding-top: 5px;
	float: none;
	color: #00527c;
	text-align: left;
}

.textomsg {
    font-family: Arial;
    font-size: 0.7em;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    width: auto;
    height:auto;
    margin-left: 20px;

    margin-top: 5px;
    float:none;
    color: red;
}
.contmsgtexto
{
    width: 100%;
    height: 28px;
    float: left;
    margin-top: 7px;
    padding-left: 5px;
}

.contidlabel
{
	width: 180px;
	heigth: 40px;
	float: left;
}
.pneuzinho
{
    float: left;
    height: 55px;
    width: 37px;	
} 
